:root {
  --background-color-light: #fff;
  --background-color-dark: #2f303a;
  --background-color-medium: #e5e5e5;
  --text-color-dark: #212121;
  --text-color-medium: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 400;
}

li {
  list-style: none; /*wyłącza kropki w listach*/
}

a {
  text-decoration: none; /*wyłącza podkreśnia linków*/
}

a:active,
a:visited {
  color: inherit;
}

/*a:focus {
  color: var(--accent-color);
} */

.filter:focus {
  background-color: var(--accent-color);
  color: white;
}

nav {
  background-color: white;
}

footer {
  background-color: var(--background-color-dark);
}

.logo-header,
.logo-footer {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.team {
  background-color: var(--background-color-medium);
}

figcaption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

a.navi {
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-dark);
  font-weight: 500;
}

.navi:hover,
.navi:focus {
  color: var(--accent-color);
}

a.contact {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-medium);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.projects p,
.team p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
h4 {
  font-weight: 500;
}

.order {
  background-color: var(--accent-color);
  color: #fff;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
main {
  background-color: var(--background-color-dark);
  color: white;
}

address {
  color: white;
  font-style: inherit;
}
.features p {
  color: var(--text-color-medium);
}
.features h4 {
  text-transform: uppercase;
}

.filters button {
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.filters .filter {
  color: #212121;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
}

.filter:focus,
.filter:hover {
  background-color: var(--accent-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo-header :nth-child(1),
.logo-footer :nth-child(1) {
  color: var(--accent-color);
}

/* .logo-header :nth-child(2) {
  color: gold;
}

TO PRÓBY PRZY NAUCE

.logo-footer :nth-child(2) {
  color: red;
} */

.web {
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.studio {
  color: #000;
  letter-spacing: 0.03em;
}

footer .studio {
  color: #fff;
  letter-spacing: 0.03em;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}
